.traffic-top {
    margin: auto;
    width: 1vw;
    height: 6vh;
    background-color: black;
}

#container {
    box-sizing: border-box;
    background-color: black;
    width: 8vw;
    height: 32vh;
    margin: auto;
}

.light {
    background-color: beige;
    border-radius: 100%;
    margin: auto;
    height: 70px;
    width: 70px;
    margin-bottom: 5px;
}

.light.red.selected {
    background-color: red;
    box-shadow: 0 0 5px 5px #ff0404;
}

.light.yellow.selected {
    background-color: yellow;
    box-shadow: 0 0 5px 5px #fff231;
}

.light.green.selected {
    background-color: #4bd236;
    box-shadow: 0 0 5px 5px #2dc937;
}
